header {
    display: inline;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
}


.responsive-bar .hamburger-bar img {
    height: 0px;
}

.resp-list {
    font-size: 0px;
}

nav {
    display : flex;
    flex-direction: row;
    background-color: white;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
}

nav .logo-perusahaan {
    height: 70px;
    padding-left: 20px;
    padding-top: 5px;
}

.nav-li {
    display: flex;
    padding-left: 50px;
    padding-top: 35px;
    width: 100%;
    z-index: 200;
}

.nav-li li a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    z-index: 200;
}

.nav-li li a:hover {
    text-decoration: underline;
}

.nav-li li {
    list-style: none;
} 

.button a, .button{
    margin-left: 30px;
    margin-top: 35px;
    text-decoration: none;
}

.dropdown {
    margin-left: 20px;
    border: 2px solid white;
    font-size: 15px;
    margin-bottom: 15px;
    position: relative;
    right: -5px;
    top: -5px;
}

@media screen and (max-width: 950px) {
    .nav-li li a, .logreg {
        font-size: 0px;
    }

    .responsive-bar {
        width: 100%;
        position: absolute;
        height: 100%;
    }

    .responsive-bar .hamburger-bar {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .responsive-bar .resp-list {
        width: 300px;
        position: absolute;
        right: 0px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .responsive-bar .resp-list a {
        text-decoration: none;
        color: black;
        padding: 20px;
    }

    .responsive-bar .resp-list a:hover {
        background-color: rgb(208, 208, 209);
        color: rgb(89, 89, 89); 
        transition: ease-in-out 0.15s;
        padding-left: 30px;
    }   
    
    .responsive-bar .hamburger-bar img {
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 20px;
    }

    header .dropdown {
        height: 0px;
        width: 0px;
    }

    .responsive-bar {
        z-index: 200;
    }

    .nav-li {
        z-index: 0;
    }
}